<!doctype html>
<html>
<head>
  <meta charset="utf-8"/>
  <title>Сервис перевода</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/wingcss/0.1.8/wing.min.css"/>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script type="text/javascript">
    var app = angular.module("TranslateManagement", []);

    app.controller("TranslateManagementController", function ($scope, $http) {

      $scope.translate = [];
      $scope.ip = "";

      $scope.form = {
        text: "",
        language: ""
      };

      $.getJSON("https://api.ipify.org?format=json", function(data) {
        $scope.ip = data.ip;
      });

      $scope.execute = function () {

        var data = { "text": $scope.form.text, "language": $scope.form.language,
                    "address": $scope.ip
        };

        $http({
          method: "POST",
          url: '/translate',
          data: angular.toJson(data),
          headers: {
            'Content-Type': 'application/json'
          }
        }).then(_success, _error);
      };

      function _success(response) {
        $scope.translate = response.data;
      }

      function _error(response) {
        alert(response.data.message || response.statusText);
      }
    });
  </script>
</head>
<body ng-app="TranslateManagement" ng-controller="TranslateManagementController">

<div class="container">
  <h1>Сервис перевода</h1>

  <h3>Перевод</h3>
  <ul ng-repeat="error in translate.errors">
    <li class="row" style="color:red">{{error}}</li>
  </ul>
  <form ng-submit="execute()">
    <div class="row">
      <div class="col-4">Язык: </div>
      <div class="col-8">
        <select ng-model="form.language">
          <option>Английский</option>
          <option>Русский</option>
          <option>Французский</option>
          <option>Немецкий</option>
          <option>Испанский</option>
          <option>Итальянский</option>
        </select>
      </div>
    </div>
    <div class="row">
      <div class="col-4">Входная строка: </div>
      <div class="col-8"><input type="text" placeholder="Входная строка" ng-model="form.text" size="60"/></div>
    </div>
    <div class="row">
      <div class="col-4">Перевод: </div>
      <div class="col-8">{{translate.text}}</div>
    </div>
    <input type="submit" value="Перевести"/>
  </form>
</div>

</body>
</html>